.DS_Store

.tokensave/

.config/git
.config/gh
.config/mole
.config/nvim/lazy-lock.json
.config/raycast/extensions
.config/raycast/aster-endpoint.json
.config/raycast/node-compile-cache
.config/karabiner/automatic_backups
/zshrc/.zshrc.bak
